# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.Diagramme de classes Model.vpp.lck
/Diagramme de classes Model.vpp
/Diagramme de classes Model.vpp.bak_000f
/Diagramme de classes Model.vpp.bak_001d
/.Diagramme de classes View.vpp.lck
/Diagramme de classes View.vpp.bak_000f
/Diagramme de classes Contract.vpp.bak_000f
/.Diagramme de classes Contract.vpp.lck
/Diagramme de classes Controller.vpp.bak_000f
/Diagramme de classes Controller.vpp.bak_001d
/Diagramme de classes Main.vpp.bak_000f
